html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

}

.header {
    height: 50px;
    background: darkslategrey;
    color: aliceblue;
    font-family: "Courier New", sans-serif;
    font-size: 58px;
    font-weight: bolder;
    text-align: center;
    padding: 50px 1px;
    box-shadow: 3px 4px 16px rgba(21, 16, 16, 0.35);

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.footer {
    background: #716c6c;
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-style: italic;
    padding: 10px;
    color: whitesmoke;
}

button{
    width: 10rem;
    height: 10rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    border-radius: .5rem;
    border: .4rem solid black;
    transition: all .12s ease;
}

.rock {
    background: #716c6c;
    color: whitesmoke;
}
.scissors {
    background: red;
    color: cyan;
}

.playing {
    transform: scale(1.1);
    border-color: whitesmoke;
    box-shadow: 0 0 1rem #8c8686;
}

.results, .score {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: xx-large;
    /*border: 1px solid black;*/
    flex: 0.3;
}

.winner{
    color: red;
}

.looser{
    color: cornflowerblue;
}

.restart-button{
    width: 10rem;
    height: 10rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    border-radius: .5rem;
    border: .4rem solid black;
    transition: all .1s ease;
    background: sandybrown;
}
.for-restart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.score{
    font-style: normal;
    font-size: xxx-large;
    font-weight: bold;
    text-shadow: 4px 5px 5px rgba(82, 74, 74, 0.42);

}
